<template>
  <footer class="container-fluid footer">
    <div class="row">
      <div class="col-12 col-md-3">
        <router-link to="">
          <img src="~/assets/img/logo.png" alt="imgbig">
        </router-link>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quam eligendi magnam molestias
          molestiae debitis laborum architecto illo, ad ex perspiciatis ducimus consequatur repudiandae
          aperiam doloribus consequuntur in officiis quidem.</p>
        <div class="footer-social-list">
          <a href="">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
      </div>
      <div class="col-12 col-md-2">
        <h6 class="title">
          ช่วยเหลือ
        </h6>
        <ul class="footer-subMenu">
          <li>
            <a href="">สั่งซื้ออย่างไร</a>
          </li>
          <li>
            <a href=""> วิธีการชำระสินค้า</a>

          </li>
          <li>
            <a href="">
              การจัดส่ง
            </a>
          </li>
          <li>
            <a href="">
              คำถามที่พบบ่อย.
            </a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-2">
        <h6 class="title">
          เมนูหลัก
        </h6>
        <ul class="footer-subMenu">
          <li>

            <a href="">
              หน้าแรก
            </a>
          </li>
          <li>
            <a href="">
              เกี่ยวกับบริษัท
            </a>
          </li>
          <li>
            <a href="">
              ติดต่อเรา
            </a>
          </li>
          <li>
            <a href="">
              แจ้งปัญหา
            </a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-2">
        <h6 class="title">
          สินค้า
        </h6>
        <ul class="footer-subMenu">
          <li>
            <a href="">สินค้ามาใหม่</a>
          </li>
          <li>
            <a href="">สินค้ามาแรง</a>
          </li>
          <li>
            <a href="">แบรนด์</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-3">
        <h3 class="title title-big">
          ติดตามข่าวสาร
        </h3>
        <p>ลงทะเบียนเพื่อติดตามข่าวสารจากทางเรา</p>
        <p>โดยกรอกอีเมล์ลงในช่องด้านล่าาง</p>
        <form class="footer-form" action="">
          <input type="email" name="" id="" placeholder="อีเมล์">
          <button type="submit">submit</button>
        </form>
      </div>
    </div>
    <div class="footer-copyRight">
      <p>&copy; copyright 2018</p>
    </div>
  </footer>
</template>

<script>
  export default {

  }

</script>

<style>

</style>
