<template>
  <div class="header">
    <div class="container-fluid p-0 bg-f5 wrap-header-mobile">
      <div class="d-flex justify-content-between align-items-center d-lg-none">
        <a class="iconMobile" href="#menu">
          <div class="icon">
            <i class="far fa-bars"></i>
          </div>
        </a>
        <div class="d-flex align-items-center">
          <div class="header-lang">
            <img src="~/assets/img/flag_en.png" alt="">
          </div>
          <div class="d-flex align-items-center wrap-main-icon">
            <div class="main-icon i-love">
              <div class="icon">
                <i class="fal fa-heart"></i>
              </div>
              <span>7</span>
            </div>
            <div class="main-icon i-cart">
              <div class="icon">
                <i class="far fa-shopping-basket"></i>
              </div>
              <span>8</span>
            </div>
            <a href="" class="linkCart">
              ตระกร้าสินค้า
            </a>
          </div>
        </div>
      </div>
      <div class="container p-0">
        <div class="d-none d-lg-flex justify-content-between">
          <div class="d-flex">
            <a class="link" href="">เงื่อนไขบริการ</a>
            <a class="link" href="">ติดต่อเรา</a>
            <a class="link" href="">แจ้งปัญหา</a>
          </div>
          <div class="d-flex">
            <div class="header-social">
              <a class="link" href="">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a class="link" href="">
                <i class="fab fa-twitter"></i>
              </a>
              <a class="link" href="">
                <i class="fab fa-instagram"></i>
              </a>
              <a class="link" href="">
                <i class="fab fa-youtube"></i>
              </a>
            </div>
            <a href="" class="user-link">
              <div class="d-flex">
                <div class="icon">
                  <i class="fal fa-user"></i>
                </div>
                <p class="title">
                  ระบบสมาชิก
                </p>
              </div>
              <div class="icon-down">
                <i class="fas fa-caret-down"></i>
              </div>
            </a>
            <!-- <div class="user-link">
                                <div class="d-flex">
                                    <div class="icon">
                                        <font-awesome-icon :icon="['fal', 'user']" />
                                    </div>
                                    <p class="title">
                                        ระบบสมาชิก
                                    </p>
                                </div>
                                <div class="icon-down">
                                    <font-awesome-icon :icon="['fas', 'caret-down']" />
                                </div>

                            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="container p-0 d-none d-lg-flex">
      <div class="d-flex justify-content-between align-items-center w100">
        <a href="">
          <img src="~/assets/img/logo.png" alt="">
        </a>

        <div class="seach-header">
          <input type="text" name="h-search" id="h-search" placeholder="ค้นหาสินค้า">
          <div class="icon">
            <i class="fal fa-search"></i>
          </div>
        </div>

        <div class="d-flex align-items-center">
          <div class="header-lang">
            <img src="~/assets/img/flag_en.png" alt="">
          </div>
          <div class="d-flex align-items-center wrap-main-icon">
            <div class="main-icon i-love">
              <div class="icon">
                <i class="fal fa-heart"></i>
              </div>
              <span>7</span>
            </div>
            <div class="main-icon i-cart">
              <div class="icon">
                <i class="far fa-shopping-basket"></i>
              </div>
              <span>8</span>
            </div>
            <a href="" class="linkCart">
              ตระกร้าสินค้า
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid p-0 d-none d-lg-flex sub-menuBorder">
      <div class="container p-0">
        <div class="header-sub-menu">
          <div class="title-header-sub-menu">
            หมวดหมู่
            <ul class="sub1">
              <li class="icon">
                <a href="">menu</a>
                <ul class="sub2">
                  <li>
                    <a href="">
                      sub2
                    </a>
                    <ul class="sub2">
                      <li>
                        <a href="">
                          sub3
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="d-flex menu-mid">
            <a href="">แบรนด์</a>
            <a href="">สินค้ามาใหม่</a>
            <a href="">สินค้าขายดี</a>
            <a href="">โปรโมชั่น</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {

  }

</script>

<style>

</style>
