// Footer
.homePage .footer {
    margin-top: 0 !important;
}
.footer {
    margin-top: 40px;
    padding-top: 30px;
    background-color: #F5F5F5;
    .title {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 25px;
    }
}
.footer-subMenu {
    li {
      cursor: pointer;
        &:not(:nth-last-child(1)){
            margin-bottom: 14px;
        }
        a {
            color: #4A4A4A;
            &:hover,&:active {
                text-decoration: underline;
                color: darken(#4A4A4A, 18%);
            }
        }
    }
}
.footer-social-list {
    margin: 28px 0;
    width: 55%;
    max-width: 170px;
    display: flex;
    justify-content: space-between;
    a {
        flex: 1;
        color: #4A4A4A;
        font-size: 19px;
        text-align: center;
        &:hover,&:active {
            color: $pink;
        }
    }
}
.footer-form {
    display: flex;
    flex-direction: column;
    input {
        height: 40px;
        padding: 0 15px;
        margin: 14px 0;
    }
    button {
        cursor: pointer;
        background-color: $pink;
        color: white;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 19px;
        &:hover,&:active {
            background-color: lighten($pink, 3%);
            transition: background-color .25s ease-out;
        }
    }
}
.footer-copyRight {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #DDDDDD;
    height: 100px;
    text-transform: uppercase;
}
