
*, *:before,*:after{
    box-sizing: border-box;
}
body {
    background-color: white;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-display: auto;
    padding-top: 50px;
}
.bg-f5 {
    background-color: #f5f5f5;
}
.h100 {
    height: 100%;
}
.w100 {
    width: 100%;
}
.mx-auto {
    margin: 0 auto;
}
img {
    &.responsive {
        max-width: 100%;
        height: auto;
        display: block;
        &.center {
            margin: 0 auto;
        }
    }
}
img {
    &[data-lazy] {
        &:before {
            display: block;
            content: '';
            padding-top: calc(100% * 1 / 2);
            position: relative;
        }
    }
}
.text-pink {
    color: $pink;
}
a {
    text-decoration: none !important;
    &:hover {
        color: inherit;
    }
}
.mx-auto {
    margin: 0 auto;
}
.text-center {
    text-align: center;
}
// transition between router
// .fade-enter-active, .fade-leave-active {
//     transition: opacity .1s ease;
//   }
//   .fade-enter, .fade-leave-to {
//     opacity: 0;
//   }