// Main Header
.header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    box-shadow: 1px 1px 1px 1px rgba(black, .1);
    .link {
        padding: 10px 8px;
        font-size: 16px;
        color: #4A4A4A;
        &:hover,&:active {
            color: darken(#4A4A4A, 15%);
            text-decoration: underline;
        }
    }
}

.mm-wrapper_opened {
    body {
        padding-top: 0;
    }
    // .header {
    //     //top: -50px;
    //     position: relative;
    // }
}

.user-link {
    display: flex;
    align-items: center;
    margin-left: 25px;
    cursor: pointer;
    min-width: 190px;
    padding-left: 10px;
    color: #333;
    .title {
        display: inline-block;
        font-weight: 300;
    }
    .icon {
        font-size: 20px;
        margin-right: 8px;
    }
    .icon-down {
        margin-left: auto;
        margin-right: 10px;
    }
    &:hover {
        background-color: darken(#f5f5f5, 3%);
    }
}
.sub-menuBorder {
    border-top: 1px solid #E4E4E4;
}

.header-sub-menu {
    position: relative;
    display: flex;
    .title-header-sub-menu {
        padding: 20px 0;
        cursor: pointer;
        position: relative;
        &:hover {
            .sub1 {
                display: block !important;
            }
        }
    }
    ul {
        z-index: 2;
        min-width: 300px;
        max-width: 400px;
        box-shadow: 1px 1px 5px 2px rgba(black, .03) inset;
        >li {
            padding: 15px 10px;
            color: #4A4A4A;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:hover {
                color: $pink;
                background-color: #e9e9e9;
                &:after {
                    color: $pink;
                }
            }
            &.icon {
                &:after {
                    content: '\f105';
                    font-family: "Font Awesome 5 Pro";
                }
            }
        }
        a {
            padding: 0;
            color: inherit;
            display: flex;
            width: 100%;

        }
    }
    .sub1 {
        background-color: white;
        position: absolute;
        display: none;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        >li {
            position: relative;
            &:hover {
                >ul {
                    display: block;
                    pointer-events: visible;
                }
            }
        }

    }
    .sub2 {
        background-color: #f5f5f5;
        position: absolute;
        top: 0;
        right: 0;
        display: none;
        transform: translateX(100%);
        >li {
            position: relative;
            &:hover {
                >ul {
                    display: block;
                }
            }
        }

    }
    .sub3 {
        background-color: white;
        position: absolute;
        top: 0;
        right: 0;
        display: none;
        transform: translateX(100%);
    }

}

.menu-mid {
    display: flex;
    margin-left: 20px;
    padding: 20px 0;
    a {
        padding: 0;
        color: black;
        margin-right: 20px;
        &:hover,&:active {
            text-decoration: underline;
        }
    }
}
.header-social {
    display: flex;
    a {
        color: #4A4A4A;
        min-width: 40px;
        text-align: center;
        &:hover,&:active {
            color: white !important;
            background-color: $pink;
        }
    }
}
.seach-header {
    background-color: green;
    display: inline-block;
    position: relative;
    flex: 1;
    margin: 0 15px;
    max-width: 550px;
    input {
        border: 0;
        width: 100%;
        height: 40px;
        padding: 0 15px;
        padding-right: 45px;
        border: 1px solid #f5f5f5;
        &:focus {
            outline-color: $blue;
        }
    }
    .icon {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 40px;
        height: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: $blue;
        color: white;
        font-size: 15px;
        cursor: pointer;
        &:hover {
            background-color: darken($blue, 3%);
        }
    }
}
.header-lang {
    img {
        max-width: 40px;
    }
    a{
      cursor: pointer;
    }
}
.iconMobile {
    padding-left: 15px;
    color: $pink;
    font-size: 25px;
}
.wrap-main-icon {
    padding: 0 5px;
    height: 76px;
    background-color: rgba(black, .1);
    margin-left: 34px;
}
.wrap-header-mobile {
    .wrap-main-icon  {
        height: auto;
        margin-left: 15px;
    }
}

.main-icon {
    position: relative;
    font-size: 20px;
    cursor: pointer;
    min-width: 50px;
    height: 50px;
    display: flex;
    line-height: 50px;
    justify-content: center;
    .icon {
        color: #4A4A4A;
    }
    span {
        position: absolute;
        top: 3px;
        right: 3px;
        background-color: $blue;
        color: white;
        min-width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        border-radius: 50%;
        padding: 3px;
        font-weight: 300;
        letter-spacing: 1px;
    }
    &:hover {
        background-color: #f5f5f5;
    }
}
.linkCart {
    cursor: pointer;
    font-size: 14px;
    white-space: nowrap;
    color: #4A4A4A;
    margin-left: 5px;
    &:hover,&:active {
        text-decoration: underline;
    }
}

// Banner
.banner {
    background-color: $blue;
    background-image: url('../img/bg-banner.png');
    background-position: top center;
    background-repeat: repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    .title {
        color: white;
        font-size: 28px;
        font-weight: 300;
    }
}

// breadcrumb
.breadcrumb {
    display: flex;
    align-items: center;
    height: 55px;
    border-bottom: 1px solid #EFE9E9;
    margin-bottom: 50px;
    background-color: white;
    li {
        display: flex;
        a {
            color: #4A4A4A;
            &:hover,&:active {
                color: $pink;
            }
        }
        &:nth-child(1){
            a {
                &:before {
                    font-weight: 900;
                    margin-right: 8px;
                }
            }
        }
        &:not(:nth-last-child(1)){
            &:after {
                content: '/';
                display: inline-block;
                margin: 0 8px;
            }
        }
        &:nth-last-child(1){
            pointer-events: none;
            a {
                color: $pink;
            }
        }
    }
}

.pagination {
    margin-top: 20px;
    li {
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border: 1px solid #e4e4e4;
        border-right: 0;
        &:nth-child(1),
        &:nth-last-child(1){
            border: 0 !important;
        }
        &:nth-last-child(2){
            border-right: 1px solid #e4e4e4 !important;
        }
        a {
            color: #444;
            &:hover,&:active {
                background-color: #eeeeee;
            }
        }
        &.active {
            background-color: $blue;
            a {
                color: white;
                &:hover,&:active {
                    background-color: $blue;
                }
            }
        }
    }
}
