h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
ul,
ol {
    margin: 0;
    padding: 0;
}

ul,
ol,
figure,
p {
    list-style-type: none;

}

img {
    max-width: 100%;
    height: auto;
}

a {
    display: block;
    text-decoration: none;
    &:hover,&:active {
        transition: color .18s ease-out;
    }
}
button {
    border: 0;
    background-color: white;
    border: none;
    line-height: normal;
}
input,textarea {
    outline-color: $pink;
}
html,body {
    overflow-x: hidden !important;
}