// scrteen min 420
@media screen and (min-width: 420px) {
    .form-addAddress {
        form {
            padding: 15px 30px;
        }
    }
}
// screen min 768
@media screen and (min-width: 768px){
    .banner {
        height: 200px;
    }
    // background
    .bg-heart {
        background-size: 550px;
        background-position: left;
        min-height: 600px;
    }
    .titleTextImg {
        .text {
            display: none;
        }
        .img {
            display: block;
        }
    }
    .form-register {
        padding: 20px 26px;
        .wrap-btn {
            flex-wrap: nowrap;
            button[type="submit"] {
                margin-bottom: 0;
                margin-right: 7.5px;
            }
        }
    }
    .form-contact {
        .mr-md {
            margin-right: 14px;
        }
    }
    .register-header {
        margin-bottom: 20px;
    }
    .cms-header {
        flex-direction: row;
        .wrap-title {
            display: inline-flex;
            align-items: flex-start;
        }
        .title {
            order: 3;
        }
        .date {
            display: inline-flex;
            margin: 0 0 4px;
            padding: 0 25px;
        }
    }

    .wrap-share-social {
        border-left: 2px solid $blue;
        padding-left: 25px;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .title-social {
        margin-bottom: 8px;
    }
    .share-post {
        >a {
            border-radius: 3px;
            width: 35px;
            height: 35px;
            font-size: 17px;
            &:not(:nth-last-child(1)){
                margin-right: 9px;
            }
        }
    }
    $pay-process-iconSize: 30px;
    .pay-process {
        >.box {
            flex-direction: row;
            font-size: 14px;
            .title {

            }
            .icon {
                margin-right: 8px;
                font-size: $pay-process-iconSize;
            }
            &.active {
                .icon {
                    font-size: $pay-process-iconSize;
                }
            }
        }
    }

    .list-problem {
        border-right: 1px solid #EFE9E9;
        padding-right: 25px;
    }
    .border-problem {
        border-right: 1px solid #EFE9E9;
    }
    .problem-contact-list {
        a {
            display: flex;
            p {
                &:nth-child(1){
                    margin-bottom: 0;
                    min-width: 100px;
                    margin-right: 8px;
                }
            }
        }
    }

    .table-productDetail {
        h5 {
            min-width: 180px;
            border-right: 1px solid darken(#EFE9E9, 5%);
        }
        p {
            padding: 8px 15px;
        }
        >div {
            flex-direction: row;
            &:not(:nth-last-child(1)){
                border-bottom: 1px solid darken(#EFE9E9, 5%);
            }
        }
    }
    .table-product {
        margin-right: -10px !important;
        .product {
            margin-right: 10px;
        }
    }

    .cart-row {
        flex-direction: row;
    }

    .cr-icon {
        margin-right: 14px;
        padding: 0 10px;
    }
    .cr-title {
        flex: 1 1 200px;
        margin: 0 14px;
    }
    .cr-quantity {
        margin: 0 20px;
    }

    .cart-footer {
        display: flex;
        flex-wrap: wrap;
        >div {
            width: calc(50% - 7.5px);
            &:nth-child(1){
                margin-right: 7.5px;
            }
        }
    }
    .wrap-cardAddress {
        margin-right: -10px;
    }
    .card-address {
        width: calc(50% - 10px);
        margin-right: 10px;
    }
    .btn-addAddress {
        max-width: 200px;
    }

    .product-comment {
        flex-direction: row;
        .start {
            margin: 0;
        }
    }
    .comment-form {
        width: 100%;
        margin-left: 28px;
        align-items: flex-end;
        textarea {
            width: 100%;
        }
        .btn-pink {
            min-width: 170px;
        }
    }


}


// screen min 992
@media screen and (min-width: 992px){
    .pay-process {
        >.box {
            font-size: 17px;
        }
    }
    body {
        padding-top: 173px;
    }
    .cart-btn {
        max-width: 260px;
        margin: 7.5px auto;
    }
    .user-comment {
        flex-wrap: nowrap;
    }
    .user-comment-img {
        width: 20%;
    }
    .user-comment-body {
        margin-right: 20px;
        .des {
            margin: 9px 0;
        }
    }
    .user-comment-start {
        order: 4;
        width: auto;
        white-space: nowrap;
    }
    .breadcrumb {
        margin-bottom: 70px;
    }
    .footer {
        margin-top: 70px;
    }

    .boxx-send {
        flex-wrap: nowrap;
        >p {
            &:nth-child(1){
                order: 1;
            }
            &:nth-child(2){
                order: 2;
            }
            &:nth-last-child(1){
                order: 3;
            }
        }
    }

    .pay3 {
        .cart-col {
            display: flex;
            padding: 5px 16px;
            >div {
                &:nth-child(1){
                    flex-basis: 150px;
                    margin: 0 15px;
                    margin-left: 159px;

                }
                &:nth-child(2){

                }
                &:nth-child(3){
                    margin: 0 20px;
                }
                &:nth-child(4){

                }
            }
        }
        .cr-title {
            flex: 0 0 20%;
        }
        .cr-price {
            flex: 0 0 10%;
        }
        .cr-total {
            flex: 0 0 10%;
        }
        .cr-quantity {
            flex: 0 0 10%;
            margin-right: 0;
        }
    }
}


// screen min 1279
@media screen and (min-width: 1279px){

}



// screen max 768
@media screen and (max-width: 768px) {
    .product_btn-buy {
        opacity: 1 !important;
        pointer-events: visible !important;
    }
}

// screen max 420
@media screen and (max-width: 420px) {
    .relatedSlider {
        .product {
            display: block;
            margin: 0 auto;
        }
    }
}

// screen iPad only
// screen iPad landscape
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : landscape) {
    .product_btn-buy {
        opacity: 1 !important;
        pointer-events: visible !important;
    }
}

// screen iPad portrait
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : portrait) {
    .product_btn-buy {
        opacity: 1 !important;
        pointer-events: visible !important;
    }
}


