


@import "_variables.scss";
@import "_reset.scss";
@import "_globalClass.scss";


@import "_header.scss";
@import "_body.scss";
@import "_footer.scss";


@import "_responsive.scss";

.page-enter-active, .page-leave-active {
  transition: opacity .3s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}
