<template>
  <div id="app" class="thePage homePage">
    <main-NavBar/>

    <nuxt />

    <main-footer />
  </div>
</template>

<script>
import NavBar from "~/components/NavBar";
import Footer from "~/components/Footer";
export default {
  layout: "app",
  components: {
    "main-NavBar": NavBar,
    "main-footer": Footer
  },
};
</script>

<style></style>
