<template>
  <section>
    <div>
      <div style="margin-bottom: 7.5px" class="dot-cycle dot-cycle-blue wrap-slickWelcome">
        <ul class="slickOptions">
          <li>
            <a class="d-block" href="">
              <img src="https://via.placeholder.com/1920x700" alt="">
            </a>
          </li>
          <li>
            <a class="d-block" href="">
              <img src="https://via.placeholder.com/1920x700" alt="">
            </a>
          </li>
          <li>
            <a class="d-block" href="">
              <img src="https://via.placeholder.com/1920x700" alt="">
            </a>
          </li>
          <li>
            <a class="d-block" href="">
              <img src="https://via.placeholder.com/1920x700" alt="">
            </a>
          </li>
        </ul>

      </div>

      <div>
        <div class="d-block">
          <img src="https://via.placeholder.com/1920x200" alt="">
        </div>
      </div>

      <div class="wrap-newSlider">
        <div class="container-fluid titleTextImg">
          <h2 class="text">
            New Product สินค้ามาใหม่
          </h2>
          <div class="img">
            <img class="responsive" src="dist/img/title-img/head1.png" alt="dd">
          </div>
        </div>
        <div class="container">
          <div class="dot-cycle dot-cycle-blue slider-new slider-blueDot">
            <ul class="slickOptionsNews">
              <li>


              </li>
              <li>
                <a class="product new" href="">
                  <div class="wrap-love">
                    <div class="iconActive">
                      <i class="fas fa-heart"></i>
                    </div>
                    <div class="icon">
                      <i class="fal fa-heart"></i>
                    </div>
                  </div>
                  <figure class="product_img">
                    <img data-lazy="https://via.placeholder.com/250" alt="img name">
                  </figure>
                  <div class="product_body">
                    <h3 class="title">
                      title product

                    </h3>
                    <p class="brand">
                      brand title
                    </p>
                    <div class="product_price">
                      <div class="d-flex flex-column justify-content-center">
                        <p class="price">
                          300 บาท
                        </p>
                        <p class="cut">
                          <span>300 บาท</span>
                        </p>
                      </div>
                      <p class="sell">
                        -10%
                      </p>
                    </div>

                  </div>
                  <p class="product_btn-buy">
                    <i class="far fa-shopping-cart"></i>
                    <span>ใส่ตระกร้า</span>
                  </p>
                </a>
              </li>
              <li>
                <a class="product new" href="">
                  <div class="wrap-love">
                    <div class="iconActive">
                      <i class="fas fa-heart"></i>
                    </div>
                    <div class="icon">
                      <i class="fal fa-heart"></i>
                    </div>
                  </div>
                  <figure class="product_img">
                    <img data-lazy="https://via.placeholder.com/250" alt="img name">
                  </figure>
                  <div class="product_body">
                    <h3 class="title">
                      title product

                    </h3>
                    <p class="brand">
                      brand title
                    </p>
                    <div class="product_price">
                      <div class="d-flex flex-column justify-content-center">
                        <p class="price">
                          300 บาท
                        </p>
                        <p class="cut">
                          <span>300 บาท</span>
                        </p>
                      </div>
                      <p class="sell">
                        -10%
                      </p>
                    </div>

                  </div>
                  <p class="product_btn-buy">
                    <i class="far fa-shopping-cart"></i>
                    <span>ใส่ตระกร้า</span>
                  </p>
                </a>
              </li>
              <li>
                <a class="product new" href="">
                  <div class="wrap-love">
                    <div class="iconActive">
                      <i class="fas fa-heart"></i>
                    </div>
                    <div class="icon">
                      <i class="fal fa-heart"></i>
                    </div>
                  </div>
                  <figure class="product_img">
                    <img data-lazy="https://via.placeholder.com/250" alt="img name">
                  </figure>
                  <div class="product_body">
                    <h3 class="title">
                      title product

                    </h3>
                    <p class="brand">
                      brand title
                    </p>
                    <div class="product_price">
                      <div class="d-flex flex-column justify-content-center">
                        <p class="price">
                          300 บาท
                        </p>
                        <p class="cut">
                          <span>300 บาท</span>
                        </p>
                      </div>
                      <p class="sell">
                        -10%
                      </p>
                    </div>

                  </div>
                  <p class="product_btn-buy">
                    <i class="far fa-shopping-cart"></i>
                    <span>ใส่ตระกร้า</span>
                  </p>
                </a>
              </li>
              <li>
                <a class="product new" href="">
                  <div class="wrap-love">
                    <div class="iconActive">
                      <i class="fas fa-heart"></i>
                    </div>
                    <div class="icon">
                      <i class="fal fa-heart"></i>
                    </div>
                  </div>
                  <figure class="product_img">
                    <img data-lazy="https://via.placeholder.com/250" alt="img name">
                  </figure>
                  <div class="product_body">
                    <h3 class="title">
                      title product

                    </h3>
                    <p class="brand">
                      brand title
                    </p>
                    <div class="product_price">
                      <div class="d-flex flex-column justify-content-center">
                        <p class="price">
                          300 บาท
                        </p>
                        <p class="cut">
                          <span>300 บาท</span>
                        </p>
                      </div>
                      <p class="sell">
                        -10%
                      </p>
                    </div>

                  </div>
                  <p class="product_btn-buy">
                    <i class="far fa-shopping-cart"></i>
                    <span>ใส่ตระกร้า</span>
                  </p>
                </a>
              </li>
            </ul>
            <!-- arrows -->
            <!-- <div id="slider-new-left">
                                <i class="fal fa-angle-left"></i>
                            </div>
                            <div id="slider-new-right">
                                <i class="fal fa-angle-right"></i>
                            </div> -->
          </div>
        </div>
      </div>

      <div class="container-fluid p-0">
        <div class="row no-gutters">
          <div class="col-12 col-md-6">
            <a href="">
              <img src="https://via.placeholder.com/1920x300" alt="">
            </a>
          </div>
          <div class="col-12 col-md-6">
            <a href="">
              <img src="https://via.placeholder.com/1920x300" alt="">
            </a>
          </div>
        </div>
      </div>


      <div class="container-fluid wrap-flash">
        <div class="row">
          <div class="col-12 col-md-3">
            <div class="flash-info">
              <figure>
                <img src="dist/img/flash-sale.png" alt="">
              </figure>
              <p class="title">เหลือเวลาช็อปอีก</p>
              <div class="time">
                <p>00</p>
                <p>00</p>
                <p>00</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-9 d-flex align-items-center">
            <div class="d-block dot-cycle-white dot-cycle dot-flash max-100">
              <ul class="slickOptionsFlash">
                <li>
                  <a class="product flash" href="">
                    <div class="wrap-love">
                      <div class="iconActive">
                        <i class="fas fa-heart"></i>
                      </div>
                      <div class="icon">
                        <i class="fal fa-heart"></i>
                      </div>
                    </div>
                    <figure class="product_img">
                      <img data-lazy="https://via.placeholder.com/250" alt="img name">
                    </figure>
                    <div class="product_body">
                      <h3 class="title">
                        title product

                      </h3>
                      <p class="brand">
                        brand title
                      </p>
                      <div class="product_price">
                        <div class="d-flex flex-column justify-content-center">
                          <p class="price">
                            300 บาท
                          </p>
                          <p class="cut">
                            <span>300 บาท</span>
                          </p>
                        </div>
                        <p class="sell">
                          -10%
                        </p>
                      </div>

                    </div>
                    <p class="product_btn-buy">
                      <i class="far fa-shopping-cart"></i>
                      <span>ใส่ตระกร้า</span>
                    </p>
                  </a>
                </li>
                <li>
                  <a class="product flash" href="">
                    <div class="wrap-love">
                      <div class="iconActive">
                        <i class="fas fa-heart"></i>
                      </div>
                      <div class="icon">
                        <i class="fal fa-heart"></i>
                      </div>
                    </div>
                    <figure class="product_img">
                      <img data-lazy="https://via.placeholder.com/250" alt="img name">
                    </figure>
                    <div class="product_body">
                      <h3 class="title">
                        title product

                      </h3>
                      <p class="brand">
                        brand title
                      </p>
                      <div class="product_price">
                        <div class="d-flex flex-column justify-content-center">
                          <p class="price">
                            300 บาท
                          </p>
                          <p class="cut">
                            <span>300 บาท</span>
                          </p>
                        </div>
                        <p class="sell">
                          -10%
                        </p>
                      </div>

                    </div>
                    <p class="product_btn-buy">
                      <i class="far fa-shopping-cart"></i>
                      <span>ใส่ตระกร้า</span>
                    </p>
                  </a>
                </li>
                <li>
                  <a class="product flash" href="">
                    <div class="wrap-love">
                      <div class="iconActive">
                        <i class="fas fa-heart"></i>
                      </div>
                      <div class="icon">
                        <i class="fal fa-heart"></i>
                      </div>
                    </div>
                    <figure class="product_img">
                      <img data-lazy="https://via.placeholder.com/250" alt="img name">
                    </figure>
                    <div class="product_body">
                      <h3 class="title">
                        title product

                      </h3>
                      <p class="brand">
                        brand title
                      </p>
                      <div class="product_price">
                        <div class="d-flex flex-column justify-content-center">
                          <p class="price">
                            300 บาท
                          </p>
                          <p class="cut">
                            <span>300 บาท</span>
                          </p>
                        </div>
                        <p class="sell">
                          -10%
                        </p>
                      </div>

                    </div>
                    <p class="product_btn-buy">
                      <i class="far fa-shopping-cart"></i>
                      <span>ใส่ตระกร้า</span>
                    </p>
                  </a>
                </li>
                <li>
                  <a class="product flash" href="">
                    <div class="wrap-love">
                      <div class="iconActive">
                        <i class="fas fa-heart"></i>
                      </div>
                      <div class="icon">
                        <i class="fal fa-heart"></i>
                      </div>
                    </div>
                    <figure class="product_img">
                      <img data-lazy="https://via.placeholder.com/250" alt="img name">
                    </figure>
                    <div class="product_body">
                      <h3 class="title">
                        title product

                      </h3>
                      <p class="brand">
                        brand title
                      </p>
                      <div class="product_price">
                        <div class="d-flex flex-column justify-content-center">
                          <p class="price">
                            300 บาท
                          </p>
                          <p class="cut">
                            <span>300 บาท</span>
                          </p>
                        </div>
                        <p class="sell">
                          -10%
                        </p>
                      </div>

                    </div>
                    <p class="product_btn-buy">
                      <i class="far fa-shopping-cart"></i>
                      <span>ใส่ตระกร้า</span>
                    </p>
                  </a>
                </li>
                <li>
                  <a class="product flash" href="">
                    <div class="wrap-love">
                      <div class="iconActive">
                        <i class="fas fa-heart"></i>
                      </div>
                      <div class="icon">
                        <i class="fal fa-heart"></i>
                      </div>
                    </div>
                    <figure class="product_img">
                      <img data-lazy="https://via.placeholder.com/250" alt="img name">
                    </figure>
                    <div class="product_body">
                      <h3 class="title">
                        title product

                      </h3>
                      <p class="brand">
                        brand title
                      </p>
                      <div class="product_price">
                        <div class="d-flex flex-column justify-content-center">
                          <p class="price">
                            300 บาท
                          </p>
                          <p class="cut">
                            <span>300 บาท</span>
                          </p>
                        </div>
                        <p class="sell">
                          -10%
                        </p>
                      </div>

                    </div>
                    <p class="product_btn-buy">
                      <i class="far fa-shopping-cart"></i>
                      <span>ใส่ตระกร้า</span>
                    </p>
                  </a>
                </li>

              </ul>

            </div>
          </div>
        </div>
      </div>


      <div class="wrap-hotSider">
        <div class="container titleTextImg">
          <h2 class="text">
            Hot Product สินค้ามาแรง
          </h2>
          <div class="img">
            <img src="dist/img/title-img/hotProduct.png" alt="">
          </div>
        </div>
        <div class="container">
          <div class="dot-cycle slider-hot slider-blueDot">
            <ul class="slickOptionsHot">
              <li>
                <a class="product hot" href="">
                  <div class="wrap-love">
                    <div class="iconActive">
                      <i class="fas fa-heart"></i>
                    </div>
                    <div class="icon">
                      <i class="fal fa-heart"></i>
                    </div>
                  </div>
                  <figure class="product_img">
                    <img data-lazy="https://via.placeholder.com/250" alt="img name">
                  </figure>
                  <div class="product_body">
                    <h3 class="title">
                      title product

                    </h3>
                    <p class="brand">
                      brand title
                    </p>
                    <div class="product_price">
                      <div class="d-flex flex-column justify-content-center">
                        <p class="price">
                          300 บาท
                        </p>
                        <p class="cut">
                          <span>300 บาท</span>
                        </p>
                      </div>
                      <p class="sell">
                        -10%
                      </p>
                    </div>

                  </div>
                  <p class="product_btn-buy">
                    <i class="far fa-shopping-cart"></i>
                    <span>ใส่ตระกร้า</span>
                  </p>
                </a>
              </li>
              <li>
                <a class="product hot" href="">
                  <div class="wrap-love">
                    <div class="iconActive">
                      <i class="fas fa-heart"></i>
                    </div>
                    <div class="icon">
                      <i class="fal fa-heart"></i>
                    </div>
                  </div>
                  <figure class="product_img">
                    <img data-lazy="https://via.placeholder.com/250" alt="img name">
                  </figure>
                  <div class="product_body">
                    <h3 class="title">
                      title product

                    </h3>
                    <p class="brand">
                      brand title
                    </p>
                    <div class="product_price">
                      <div class="d-flex flex-column justify-content-center">
                        <p class="price">
                          300 บาท
                        </p>
                        <p class="cut">
                          <span>300 บาท</span>
                        </p>
                      </div>
                      <p class="sell">
                        -10%
                      </p>
                    </div>

                  </div>
                  <p class="product_btn-buy">
                    <i class="far fa-shopping-cart"></i>
                    <span>ใส่ตระกร้า</span>
                  </p>
                </a>
              </li>
              <li>
                <a class="product hot" href="">
                  <div class="wrap-love">
                    <div class="iconActive">
                      <i class="fas fa-heart"></i>
                    </div>
                    <div class="icon">
                      <i class="fal fa-heart"></i>
                    </div>
                  </div>
                  <figure class="product_img">
                    <img data-lazy="https://via.placeholder.com/250" alt="img name">
                  </figure>
                  <div class="product_body">
                    <h3 class="title">
                      title product

                    </h3>
                    <p class="brand">
                      brand title
                    </p>
                    <div class="product_price">
                      <div class="d-flex flex-column justify-content-center">
                        <p class="price">
                          300 บาท
                        </p>
                        <p class="cut">
                          <span>300 บาท</span>
                        </p>
                      </div>
                      <p class="sell">
                        -10%
                      </p>
                    </div>

                  </div>
                  <p class="product_btn-buy">
                    <i class="far fa-shopping-cart"></i>
                    <span>ใส่ตระกร้า</span>
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="wrap-recommend">
        <div class="container titleTextImg">
          <h2 class="text">
            Recommend For You แนะนำสำหรับคุณ
          </h2>
          <div class="img">
            <img src="dist/img/title-img/recommandProduct.png" alt="" class="responsive">
          </div>
        </div>
        <div class="container-fluid">
          <div class="row no-gutters">
            <div class="col-12 col-md-4">
              <a href="">
                <img class="responsive center" src="dist/img/pro/pro.png" alt="">
              </a>
            </div>
            <div class="col-12 col-md-4">
              <a href="">
                <img class="responsive center" src="dist/img/pro/pro5.png" alt="">
              </a>
            </div>
            <div class="col-12 col-md-4">
              <a href="">
                <img class="responsive center" src="dist/img/pro/pro3.png" alt="">
              </a>
            </div>
            <div class="col-12 col-md-4">
              <a href="">
                <img class="responsive center" src="dist/img/pro/pro4.png" alt="">
              </a>
            </div>
            <div class="col-12 col-md-4">
              <a href="">
                <img class="responsive center" src="dist/img/pro/pro2.png" alt="">
              </a>
            </div>
            <div class="col-12 col-md-4">
              <a href="">
                <img class="responsive center" src="dist/img/pro/pro1.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>


      <div class="wrap-promotion">
        <div class="container titleTextImg">
          <h2 class="text">
            Product Promotion สินค้าโปรโมชั่น
          </h2>
          <div class="img">
            <img src="dist/img/title-img/midYear.png" alt="" class="responsive">
          </div>
        </div>
        <div class="container">
          <div class="dot-cycle dot-cycle-blue slider-new slider-blueDot">
            <ul class="slickOptionsNews">
              <li>
                <a class="product hot" href="">
                  <div class="wrap-love">
                    <div class="iconActive">
                      <i class="fas fa-heart"></i>
                    </div>
                    <div class="icon">
                      <i class="fal fa-heart"></i>
                    </div>
                  </div>
                  <figure class="product_img">
                    <img data-lazy="https://via.placeholder.com/250" alt="img name">
                  </figure>
                  <div class="product_body">
                    <h3 class="title">
                      title product

                    </h3>
                    <p class="brand">
                      brand title
                    </p>
                    <div class="product_price">
                      <div class="d-flex flex-column justify-content-center">
                        <p class="price">
                          300 บาท
                        </p>
                        <p class="cut">
                          <span>300 บาท</span>
                        </p>
                      </div>
                      <p class="sell">
                        -10%
                      </p>
                    </div>

                  </div>
                  <p class="product_btn-buy">
                    <i class="far fa-shopping-cart"></i>
                    <span>ใส่ตระกร้า</span>
                  </p>
                </a>
              </li>
              <li>
                <a class="product hot" href="">
                  <div class="wrap-love">
                    <div class="iconActive">
                      <i class="fas fa-heart"></i>
                    </div>
                    <div class="icon">
                      <i class="fal fa-heart"></i>
                    </div>
                  </div>
                  <figure class="product_img">
                    <img data-lazy="https://via.placeholder.com/250" alt="img name">
                  </figure>
                  <div class="product_body">
                    <h3 class="title">
                      title product

                    </h3>
                    <p class="brand">
                      brand title
                    </p>
                    <div class="product_price">
                      <div class="d-flex flex-column justify-content-center">
                        <p class="price">
                          300 บาท
                        </p>
                        <p class="cut">
                          <span>300 บาท</span>
                        </p>
                      </div>
                      <p class="sell">
                        -10%
                      </p>
                    </div>

                  </div>
                  <p class="product_btn-buy">
                    <i class="far fa-shopping-cart"></i>
                    <span>ใส่ตระกร้า</span>
                  </p>
                </a>
              </li>
              <li>
                <a class="product hot" href="">
                  <div class="wrap-love">
                    <div class="iconActive">
                      <i class="fas fa-heart"></i>
                    </div>
                    <div class="icon">
                      <i class="fal fa-heart"></i>
                    </div>
                  </div>
                  <figure class="product_img">
                    <img data-lazy="https://via.placeholder.com/250" alt="img name">
                  </figure>
                  <div class="product_body">
                    <h3 class="title">
                      title product

                    </h3>
                    <p class="brand">
                      brand title
                    </p>
                    <div class="product_price">
                      <div class="d-flex flex-column justify-content-center">
                        <p class="price">
                          300 บาท
                        </p>
                        <p class="cut">
                          <span>300 บาท</span>
                        </p>
                      </div>
                      <p class="sell">
                        -10%
                      </p>
                    </div>

                  </div>
                  <p class="product_btn-buy">
                    <i class="far fa-shopping-cart"></i>
                    <span>ใส่ตระกร้า</span>
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>




      <div class="wrap-brandSlider">
        <div class="container titleTextImg">
          <h2 class="text">
            Brands แบรน
          </h2>
          <div class="img">
            <img src="dist/img/title-img/head5.png" alt="">
          </div>
        </div>
        <div class="container">
          <div class="dot-cycle dot-cycle-borderGray slider-brand">
            <ul class="slickOptionsBrand">
              <li>
                <a href="">
                  <img src="https://via.placeholder.com/150x100" alt="">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>




      <div class="wrap-blog">
        <div class="container-fluid">
          <div class="container titleTextImg">
            <h2 class="text">
              Beauty New ข่าวสาร
            </h2>
            <div class="img">
              <img src="dist/img/title-img/newBlog.png" alt="">
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <a class="thumBlog pink" href="">
                <figure>
                  <img src="https://via.placeholder.com/300x300" alt="">
                </figure>
                <p class="date">date</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quia ipsa
                  earum accusamus, consequuntur maxime excepturi dolor quasi corrupti suscipit
                  aperiam voluptatibus eum laboriosam et mollitia laborum animi autem ea?</p>
              </a>
            </div>
            <div class="col-12 col-md-4">
              <a class="thumBlog" href="">
                <figure>
                  <img src="https://via.placeholder.com/300x300" alt="">
                </figure>
                <p class="date">date</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quia ipsa
                  earum accusamus, consequuntur maxime excepturi dolor quasi corrupti suscipit
                  aperiam voluptatibus eum laboriosam et mollitia laborum animi autem ea?</p>
              </a>
            </div>
            <div class="col-12 col-md-4">
              <a class="thumBlog " href="">
                <figure>
                  <img src="https://via.placeholder.com/300x300" alt="">
                </figure>
                <p class="date">date</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quia ipsa
                  earum accusamus, consequuntur maxime excepturi dolor quasi corrupti suscipit
                  aperiam voluptatibus eum laboriosam et mollitia laborum animi autem ea?</p>
              </a>
            </div>

          </div>
        </div>
      </div>




      <div class="container-fluid list-about">
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="box">
              <div class="icon">
                <i class="far fa-clock"></i>
              </div>
              <div>
                <h5 class="title">
                  24/7 SUPPORT
                </h5>
                <p class="des">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                  eget dolor.
                </p>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-4">
            <div class="box">
              <div class="icon">
                <i class="far fa-usd-circle"></i>
              </div>
              <div>
                <h5 class="title">
                  24/7 SUPPORT
                </h5>
                <p class="des">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                  eget dolor.
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="box">
              <div class="icon">
                <i class="far fa-dolly-flatbed-alt"></i>

              </div>
              <div>
                <h5 class="title">
                  24/7 SUPPORT
                </h5>
                <p class="des">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                  eget dolor.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {}

</script>

<style>

</style>
